rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow reads for all files, so they can be displayed in the app
    allow read: if true;

    // Allow uploads to the 'audio' folder for any authenticated user.
    match /audio/{allPaths=**} {
      allow write: if request.auth != null;
    }

    // Allow uploads to the 'videos' folder for any authenticated user.
    match /videos/{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}
